<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myanycamm.cam"
    android:versionCode="150710"
    android:versionName="1.1.8" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" >
    </supports-screens>

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <!-- 友盟加 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- share sdk要 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- VLC要 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.myanycam.net.SocketFunction"
        android:allowBackup="true"
        android:icon="@drawable/myanycam_icon"
        android:label="@string/app_name"
        android:logo="@drawable/myanycam_icon"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.myanycamm.cam.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.nmbb.oplayer.ui.player.VideoActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:process=":vitamio"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="521d678d56240bd04a04e104" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="kcma" />

        <activity
            android:name="cn.sharesdk.framework.ShareSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.myanycamm.cam.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="myanycam"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myanycamm.setting.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.MoreInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.setting.LocalNetSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.setting.WifiSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.setting.RecSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.CameraCenterActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.myanycamm.setting.RecRuleSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.setting.QualitySettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.SystemActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.setting.TimeSelectSettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.setting.SysSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.ui.ImageSwitcher"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:noHistory="false"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.myanycamm.ui.ImageSwitcherNet"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensor" >
        </activity>

        <service
            android:name="com.myanycamm.cam.AppServer"
            android:permission="android.permission.INTERNET" >
            <intent-filter android:priority="1000" >
                <action android:name="com.myanycamm.cam.AppServer" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name="com.facebook.LoginActivity" >
        </activity>
        <activity android:name="com.android1.myanycam.PictureActivity" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.AddCameraActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.ModifyCameraInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.ChangPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.zxing.client.android.CaptureActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.PhotoViewActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.EventVideoPlayActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.VLCPlayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.myanycamm.cam.CallAcceptActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar" >
        </activity>

        <service android:name="org.videolan.vlc.AudioService" />
        <!-- 升级服务 -->
        <service android:name="com.myanycamm.update.UpdateService" />

        <receiver android:name="com.myanycamm.model.AlarmReceiver" >
        </receiver>

        <service
            android:name="com.nmbb.oplayer.ui.player.PlayerService"
            android:process=":vitamio" />
        <service
            android:name="io.vov.vitamio.VitamioService"
            android:exported="false" >
            <intent-filter>
                <action android:name="io.vov.vitamio.IVitamioService" />
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d4fed762adbf5636271fae1e9fffd1bad9abf368" />
    </application>

</manifest>